body{
    text-align: center;
    background-color: black;
    color: aqua;
}

h1{
    font-size: 5rem;
    font-family: "Lora";
    text-shadow: 2px 0 yellow;
}

footer{
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.w{
    background-image: url(images/tom1.png);
}
.a{
    background-image: url(images/tom2.png);
}
.s{
    background-image: url(images/tom3.png);
}
.d{
    background-image: url(images/tom4.png);
}
.j{
    background-image: url(images/snare.png);
}
.k{
    background-image: url(images/crash.png);
}
.l{
    background-image: url(images/kick.png);
}

.set{
    margin: 10% auto;
}

.game-over{
    background-color: red;
    opacity: 0.5;
}

.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
}

.red{
    color: red;
}

.drum{
    outline: none;
    border: 7px solid rgb(16, 176, 40);
    font-size: 5rem;
    font-family: "Lora";
    line-height: 2;
    font-weight: 900;
    color: burlywood;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: aliceblue;

}
